.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.3rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 0.3rem;
}

.user a:link {
    text-decoration: none;
}
.user a:visited {
}
.user a:hover{
}
.user a:active{
}

.comment_count {
}

.content {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: black;
    padding: 0.3rem;
}