.container {
    width: 20rem;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}

.brace {
    position: absolute;
    z-index: -100;
    width: 1.2rem;
    height: calc( 100% - 1.6rem);
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}