:root {
  box-sizing: border-box; /*box尺寸，就是width和height，包含border*/
  --sidebar-width: 1.8rem; /*隐藏了sidebar，这1.8是留给handle的*/
}

@media (min-width: 800px) {
  :root {
    --sidebar-width: 12rem; /*完全显示sidebar*/
  }
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: arial, SimHei, STHeiti, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
